<h2>About DRSW</h2>
<p>Documentary Relations of the Southwest provides the research tools and finding aids to the written record that began with the arrival of the Spanish explorers in the 1530's.</p>
<p>The 1,500 microfilm reels of documents, many of them collected by the Jesuit Historical Institute, include the diaries of explorers and reports of missionaries and soldiers. They date from the first written accounts of contact with indigenous peoples in the 16th Century to the Mexican declaration of independence from Spain in 1821. The place names, architecture, food, and many of the Southwestern cultures have their origin in the history of this region. The '"Southwest" in this case covers Texas, New Mexico, Arizona, California, and northern Mexico&mdash;all of what was then northern New Spain.</p>
<p><strong>History </strong></p>
<p>The Documentary Relations of the Southwest (DRSW) Master Bibliography and Indexes is an application of modern technology to create research tools for the study of northern New Spain. DRSW devised a methodology to generate guides and indexes to primary documents dealing with the greater Southwest.</p>
<p>The sheer size of the documentary record required that the compilers follow certain principles of selection. The files are limited chronologically from 1520 to 1820, which corresponds to the Spanish colonial era. Documents included cover an extensive geographical area bounded by the 22nd to the 38th parallel of north latitude, and by the 92nd to the 123rd meridian of west longitude. This approximates the colonial frontiers of northern New Spain.</p>
<p>Document selection was relatively broad. In the case of small collections, all documents were included. In the case of large collections, we included only records that met our criteria of period, location, and significance. Large bundles of routine records, such as slave sales or military musters, were grouped under one entry without recording individual names. Generally, we attempted to record most pertinent information. However, information about a particular person, place or subject might be available in the archive even if it does not appear in the indexes.</p>
<p><strong>Grant history </strong></p>
<p>Under a grant from the National Endowment for the Humanities DRSW surveyed critical portions of the Archivo Hist&oacute;rico del Hidalgo de Parral, Chihuahua. This was the provincial archive of Nueva Vizcaya, which at times included present-day Arizona, Chihuahua, Coahuila, Durango, Sinaloa and Sonora. Extensive analysis of the Parral archives was supplemented with documents from the Archivo General de Indias (AGI-Sevilla), the Archivo General de la Naci&oacute;n (AGN-Mexico City), the Archivo Hist&oacute;rico de Hacienda (AHH-Mexico City), and fifteen smaller archives. A second grant funded research in two collections whose important holdings are available on microfilm in many major research libraries. These are the Spanish Archives of New Mexico Part 2 (SANM 2-Santa Fe) and the B&eacute;xar Archives of San Antonio up to the year 1790 (NLBLAC-Austin). A third grant from the NEH allowed for the inclusion of the entire Ramo Provincias Internas of Mexico City's Archivo General de la Naci&oacute;n in the DRSW Master Index. This archive is the largest collection in the database, consisting of 263 volumes, (Volume 193 is either missing or represents an error in the original numbering of the volumes).</p>
<p><strong>Description</strong></p>
<p>The Master Index contains over 17,000 records. These records describe an estimated total of 500,000 pages of colonial Spanish documents. A record might refer to a single document or to a group of closely related documents. Almost all of these documents deal with northern New Spain - the area that is now northern Mexico and the southwestern United States.</p>
<p>The documents indexed come from a total of thirty-one archives in Europe and the Americas. The indexing was selective: the Master Index does not represent a complete index for these archives. The following list names these archives; the numeral to the left forms the first part of the serial number for records from that archive. For example, all of the records for documents from the Provincias Internas section of the Archivo General de la Naci&oacute;n in Mexico City begin with 041-.</p>
<table class="revtxt normfont" summary="Archives included in the Master Index by the first part of the Serial Number, Abbreviated Title and Complete Title" border="1" cellspacing="0" cellpadding="2"><caption><a name="_List_of_archives"></a><em><strong>List of archives indexed</strong></em></caption>
<tbody>
<tr><th id="hd1" class="bkgth" valign="top">No.</th><th id="hd2" class="bkgth" valign="top" nowrap="nowrap">Abbreviated Title</th><th id="hd3" class="bkgth" valign="top">Complete Title</th></tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>010&nbsp;&nbsp;</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AG, Saltillo</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo del Gobierno, Saltillo, Coahuila, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>020</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AGE</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Seccion Gobierno del Estado, Monterrey, Nuevo Leon. Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>030</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AGI, Sevilla</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo General de Indias, Sevilla, Spain</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>040</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AGN, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo General de la Nacion, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>041</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AGN, PI</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo General de la Nacion, Ramo Provincias Internas, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>050</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AGOFM, Rome</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivum Generale O.F.M., Rome, Italy</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>060</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AHH, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Historico de Hacienda Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>070</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AHM, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Historico Militar, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>080</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AHN, Madrid</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Historico-Nacional, Madrid, Spain</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>090</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AHPMSI, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Historia Provincia Mexicana Soc. Iesu, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>100</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>AP, Parral</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo de Parral, Parral, Chihuahua, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>110</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>APA, Valencia</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo de la Provincia de Aragon, Soc. Iesu, Valencia, Spain</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>120</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>APM, Celaya</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo Provincia de Michoacan, Celaya, Guanajuato, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>130</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>ARI, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo de Relaciones Internas, Mexico City Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>140</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>ARSJ, Rome</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivum Romanum, Soc. Iesu, Rome, Italy</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>150</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>ASB, Sta. Barbara</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archives of Santa Barbara, Santa Barbara, CA</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>160</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BH, Munich</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Bavarian Hauptstaats</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>170</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BM, London</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>British Museum, London, England</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>180</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BN, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Biblioteca Nacional, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>190</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BNE, Madrid</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Madrid Biblioteca Nacional, Madrid, Spain</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>200</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BNF, Paris</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Bibliotheque Nacional, Paris, France</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>210</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BNM, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivo del San Francisco el Grande, Biblioteca Nacional, Mexico City, Mexico&nbsp;&nbsp;</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>220</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>BNVE, Rome</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Biblioteca National Vittore Emanuele, Rome, Italy</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>230</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>CUB, Berkeley</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Bancroft library, University of California, Berkeley, California</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>240</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>MN, Mexico</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Museo Nacional, Mexico City, Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>250</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>NL, Chicago</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Newberry Library, Chicago, Illinois</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>260</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>PAA, Rome</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Archivum Colegii Antonini, Rome Italy</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>270</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>RAH, Madrid</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Real Academia de la Historia, Madrid, Spain</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>275</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>SANM, Santa Fe</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Spanish Archives of New Mexico, Santa Fe, New Mexico</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>280</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>SFO</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>St. Francis Orphanage, Watsonville, CA</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>290</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>TXA, Nacogdoches&nbsp;&nbsp;</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>Nacogdoches University of Texas, Austin, Texas</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd1" valign="top">
<p><strong><em>300</em></strong></p>
</td>
<td class="bkg2" headers="hd2" valign="top" nowrap="nowrap">
<p>TXU, Austin, TX</p>
</td>
<td class="bkg2" headers="hd3" valign="top">
<p>N.L. Benson Library, University of Texas, Austin, TX</p>
</td>
</tr>
</tbody>
</table>
