<h1>Using DRSW</h1>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <%= render 'layouts/nav' %>
      <!-- <div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Contact Us', '/pages/contact' %></li>
            <li><%= link_to 'Use', '/pages/use' %></li>
            <li><%= link_to 'About DRSW', '/pages/about' %></li>
          </ul>
        </nav>
      </div> -->
    </header>
  </body>
<p><strong>Information recorded</strong></p>
<p>Each record contains standard information about a document or group of documents. This data includes the author, date, title, length, physical qualities, language, and location. In addition, the indexer recorded every geographic or personal name in the document (except in cases of some long lists, such as presidial musters), wrote a summary, and generated keywords to indicate topics that the document addresses.</p>
<p><strong>Where you can read the documents</strong></p>
<p>The <strong class="srchfld">Location</strong> fields specify where you can read the document summarized. <strong class="srchfld">Original Location</strong> names where the original, paper document resides. <strong class="srchfld">First Location</strong> indicates where DRSW staff read either the original document or a copy. <strong class="srchfld">Other Location</strong> lists other repositories for the document.</p>
<table class="revtxt normfont" summary="Microfilm locations by their abbreviations" border="1" cellspacing="0" cellpadding="2"><caption><em><strong>Abbreviations for Microfilm Locations</strong></em></caption>
<tbody>
<tr><th id="hd2-1" class="bkgth" valign="top">&nbsp;Abbreviation&nbsp;</th><th id="hd2-2" class="bkgth" valign="top">Location</th></tr>
<tr>
<td class="bkg1" headers="hd2-1" valign="top">
<p><strong><em>AZU</em></strong></p>
</td>
<td class="bkg2" headers="hd2-2" valign="top">
<p>Main Library, University of Arizona, Tucson, Arizona</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd2-1" valign="top" width="69">
<p><strong><em>AZTM</em></strong></p>
</td>
<td class="bkg2" headers="hd2-2" valign="top">
<p>Jesuit Historical Institute, American Division, housed at DRSW</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd2-1" valign="top" width="69">
<p><strong><em>DRSW</em></strong></p>
</td>
<td class="bkg2" headers="hd2-2" valign="top">
<p>Arizona State Museum, University of Arizona, Tucson, Arizona</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd2-1" valign="top" width="69">
<p><strong><em>MOSU</em></strong></p>
</td>
<td class="bkg2" headers="hd2-2" valign="top">
<p>Saint Louis University, Saint Louis, Missouri</p>
</td>
</tr>
</tbody>
</table>
<p>Most records that do not specify a location refer to documents at DRSW. Specifically, we hold a copy of all the AGN Provincias Internas documents that we have indexed. Finally, DRSW has acquired microfilm since completing some sections of the <em>Master Index</em>, so we might have a copy of a document, even if the <em>Master Index</em> does not indicate this. It's best to contact us to be sure.</p>
<p>The other information in the <strong><span class="srchfld">Location</span></strong> fields indicates where to find the document within the archive or microfilm collection.</p>
<h2 class="drswh2">Search strategies</h2>
<h3 class="drswh2">Search broadly</h3>
<p>Try searching as broadly as possible at first. Then, if the number of documents you find is unmanageable, refine your search to be more restrictive. For example, if you were interested in agriculture in San Antonio, you might start by searching for "<strong class="srch">San Antonio</strong>" (4772 hits). Since this is probably too many records, then you could refine your search to "<strong class="srch">San Antonio mission agriculture</strong>" (540 hits) and so on until you found a manageable number of records relating to your interest.</p>
<h3 class="drswh3">Use <em class="srchtype">General Search</em> by default</h3>
<p>The basic search is called <strong class="srchtype">General Search</strong>. When you choose to perform an <strong class="srchtype">Advanced</strong> search or to <strong class="srchtype">Refine</strong> a search, you should choose <strong class="srchtype">General Search</strong> by default. The only exception will be when you want to limit your search to a particular field, such as <strong class="srchfld">Author</strong>. The <strong class="srchtype">General Search</strong> locates terms in every field except those referring to archival locations (that is, <strong class="srchfld">Original Location</strong>, <strong class="srchfld">First Location</strong>, and <strong class="srchfld">Other Location</strong>).</p>
<h3 class="drswh3">Use the <em class="srchtype">Browse</em> function</h3>
<p>The <strong class="srchtype">Browse</strong> function allows you to scroll through a list of all the words in the <em>Master Index</em>, arranged alphabetically. Click on the number next to the word to view all of the documents containing that term. This function is useful for viewing variant spellings of terms - including typos!</p>
<h3 class="drswh3">Check for different spellings</h3>
<p>Names were spelled in a variety of ways in these documents. We typed them in as they were spelled in the document. In addition, errors in reading and typing undoubtedly occurred. Thus, the same person or place might appear under a variety of different spellings, and you should search under as many variations as possible. You can do this with separate searches or, preferably, using wildcards and Boolean operators. The <strong class="srchtype">Browse</strong> function also is helpful in such cases.</p>
<p>Some letters were commonly used equivalently:</p>
<ul>
<li>c = s = z</li>
<li>ll = y</li>
<li>h = (no letter)</li>
<li>i = y</li>
<li>b = v</li>
<li>g = j = x</li>
</ul>
<p>For example, "Tubac" (236 hits) was also spelled "Tuvac" (7 hits), among other variations. However, variations abound that do not conform to the above list, especially in Indian names for people and places. For example, the present-day term "Chiricahuas" has numerous variations that outnumber it in the index.</p>
<h4 class="drswh4">Note about accents</h4>
<p>In the <em>Master Index</em>, the records do not record any accent marks, tildes, or other diacritical marks not found in English. Also, all of the words are capitalized. For example, "Z&uacute;ńiga" is recorded as <span class="srchrslt">ZUNIGA</span>.<a name="_Use_special_search-terms"></a></p>
<p><strong>Use special search-terms</strong></p>
<p><strong>Wildcards</strong></p>
<p>The characters "*" and "?" serve the same function: they replace any number of letters (including zero letters) until the next letter specified in the word. For example, entering <strong class="srch">di*o</strong> or <strong class="srch">di?o</strong> as a <strong class="srchtype">General Search</strong> will find entries containing the terms, <span class="srchrslt">DIO</span>, <span class="srchrslt">DICHO</span>, <span class="srchrslt">DIEZMO</span>, and <span class="srchrslt">DIEGO</span>, among others.</p>
<h4 class="drswh4">Boolean operators and parentheses: <span class="srch">and, or, not, ()</span></h4>
<table class="revtxt normfont" summary="Explanations and examples of boolean operators by term" border="1" cellspacing="0" cellpadding="2"><caption><em><strong>Boolean Operators Used to Limit Searches</strong></em></caption>
<tbody>
<tr><th id="hd3-1" class="bkgth" valign="top">
<p>Term</p>
</th><th id="hd3-2" class="bkgth" valign="top">
<p>Explanation</p>
</th><th id="hd3-3" class="bkgth" valign="top">
<p>Example</p>
</th></tr>
<tr>
<td class="bkg1" headers="hd3-1" valign="top" nowrap="nowrap">
<p><strong><em>AND:</em></strong></p>
</td>
<td class="bkg2" headers="hd3-2" valign="top">
<p>Placing "<span class="srch">and</span>" between words will result in a search for entries that contain both terms. If only one of the terms is in a record, that record will not be found.</p>
</td>
<td class="bkg2" headers="hd3-3" valign="top">
<p>Searching for "<span class="srch">Texas and Sinaloa</span>" will yield a list of 67 documents that contain both of these words. If you omit "<span class="srch">and</span>", you will get the same result: searching for "<span class="srch">Texas Sinaloa</span>" results in 67 hits.</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd3-1" valign="top" nowrap="nowrap">
<p><strong><em>OR:</em></strong></p>
</td>
<td class="bkg2" headers="hd3-2" valign="top">
<p>Placing "<span class="srch">or</span>" between words will result in a search for entries that contain either (or both) of these terms.</p>
</td>
<td class="bkg2" headers="hd3-3" valign="top">
<p>Searching for "<span class="srch">Texas or Sinaloa</span>" finds 2052 entries that contain one of these terms.</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd3-1" valign="top" nowrap="nowrap">
<p><strong><em>NOT:&nbsp;&nbsp;</em></strong></p>
</td>
<td class="bkg2" headers="hd3-2" valign="top">
<p>Placing "<span class="srch">not</span>" between words will result in a search for entries that contain the first word but not the second. If both words appear in a record, it will not be found.</p>
</td>
<td class="bkg2" headers="hd3-3" valign="top">
<p>Searching for "<span class="srch">Texas not Sinaloa</span>" yields 1290 records, but searching for "<span class="srch">Sinaloa not Texas</span>" yields 695.</p>
</td>
</tr>
<tr>
<td class="bkg1" headers="hd3-1" valign="top" nowrap="nowrap">
<p><strong><em>( ):</em></strong></p>
</td>
<td class="bkg2" headers="hd3-2" valign="top">
<p>You can create complex searches by grouping words and Boolean operators with parentheses. This can be useful when searching for variant spellings of names.</p>
</td>
<td class="bkg2" headers="hd3-3" valign="top">
<p>Searching for "<span class="srch">(Texas or Tejas) and (Cinaloa or Sinaloa or Zinaloa)</span>" will find all 74 records that contain one of the variations entered for each of these terms. In this case, the software looks for records that contain either "<span class="srch">Texas</span>" or "<span class="srch">Tejas</span>" and that also contain either "<span class="srch">Cinaloa</span>", "<span class="srch">Sinaloa</span>", or "<span class="srch">Zinaloa</span>".</p>
</td>
</tr>
</tbody>
</table>
<p class="drswh4"><span>&nbsp;</span></p>
<pre><br /><br /></pre>
<h3 class="drswh3">Procedures:</h3>
<p>When you conduct a search, the largest frame on the screen will list the <strong class="srchfld">Title</strong>, <strong class="srchfld">Author</strong>, and <strong class="srchfld">Date</strong> of the first ten records. Click on the colored line to see all of the information in the full record. To see another group of ten, click on one of the numbers next to "Jump to:". For example, if you click on "21", then the screen will display records 21-30.</p>
<h3 class="drswh3"><a name="_Miscellaneous_notes"></a>Miscellaneous notes</h3>
<ul>
<li>Searches are not case-specific; that is, <strong class="srch">Vizcaya</strong>, <strong class="srch">VIZCAYA</strong>, and <strong class="srch">vizcaya</strong> are equal.</li>
<li>Wildcards and Boolean operators (see below) do not work in the <strong class="srchtype">Browse</strong> function.</li>
</ul>
<p>&nbsp;</p>
