<!DOCTYPE html>
<html>
  <head>
    <title>Documentary Relations of the Southwest</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>Documentary Relations of the Southwest provides the research tools and finding aids to the written record that began with the arrival of the Spanish explorers in the 1530's.</p>
    <%= yield %>
  </body>
</html>
