<!DOCTYPE html>
<html>
  <head>
    <title>Documentary Relations of the Southwest</title>
    <%= csrf_meta_tags %>
    <p>Documentary Relations of the Southwest provides the research tools and finding aids to the written record that began with the arrival of the Spanish explorers in the 1530's.
<br/>
The 1,500 microfilm reels of documents, many of them collected by the Jesuit Historical Institute, include the diaries of explorers and reports of missionaries and soldiers. They date from the first written accounts of contact with indigenous peoples in the 16th Century to the Mexican declaration of independence from Spain in 1821. The place names, architecture, food, and many of the Southwestern cultures have their origin in the history of this region. The '"Southwest" in this case covers Texas, New Mexico, Arizona, California, and northern Mexico—all of what was then northern New Spain.</p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
